<form action="/game" method="POST">
 <button  value="feed" name = "act">Feed</button>
 <button  value="play" name = "act">Play</button>
 <button  value="walk" name = "act">Toilet</button>
 <button  value="nurse" name = "act">Heal</button>
 <button  value="train" name = "act">Train</button>
 <button  value="watch" name = "act">Watch</button>
 <button  value="caress" name = "act">Caress</button>
 <button  value="wash"  name = "act">Wash</button>
 <button  value="talk"  name = "act">Talk</button>
 <button  value="sleep"  name = "Sleep">Wash</button>
 <button  value="quit" name = "act"> сохранить и выйти </button>
</form> 
